* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1f1f1f;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.game {
    max-width: 1400px;
    margin: auto;
}

.header {
    position: relative;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background: #2b2b2b;
    border: 1px solid #444;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;

    font-size: 22px;
    font-weight: bold;
}

.header-stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#menu {
    position: absolute;
    left: 20px;

    width: 42px;
    height: 42px;

    border: none;
    border-radius: 8px;

    background: #3b3b3b;
    color: white;

    font-size: 24px;
    cursor: pointer;
}

#menu:hover {
    background: #4b4b4b;
}

#menuModal .modal-content {
    height: auto;
    max-height: 80vh;
    gap: 16px;
}

#closeMenu {
    position: absolute;
    top: 16px;
    right: 16px;

    width: 36px;
    height: 36px;

    border: none;
    border-radius: 8px;

    background: #3b3b3b;
    color: white;

    font-size: 22px;
    font-weight: bold;

    cursor: pointer;
    transition: .15s;
}

#closeMenu:hover {
    background: #4b4b4b;
}

#closeMenu:active {
    transform: scale(.95);
}

#menuModal button:not(#closeMenu) {
    width: 100%;
    padding: 14px 18px;

    border: 1px solid #555;
    border-radius: 10px;

    background: #3b3b3b;
    color: white;

    font-size: 20px;
    font-weight: bold;

    cursor: pointer;
    transition: .15s;
}

#menuModal button:not(#closeMenu):hover {
    background: #4b4b4b;
    border-color: #777;
}

#menuModal label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    padding: 14px 18px;

    background: #333;
    border: 1px solid #444;
    border-radius: 10px;

    font-size: 20px;
    font-weight: bold;
}

#soundVolume {
    width: 250px;
}

#muteSound {
    width: 20px;
    height: 20px;
}

#menuModal .menu-checkbox {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    padding: 14px 18px;

    background: #333;
    border: 1px solid #444;
    border-radius: 10px;

    font-size: 20px;
    font-weight: bold;
}

#menuModal .menu-checkbox span {
    grid-column: 2;
    text-align: center;
}

#menuModal .menu-checkbox input {
    grid-column: 3;
    justify-self: end;

    width: 20px;
    height: 20px;
}

.game-layout {
    display: grid;
    grid-template-columns: 1fr 320px 1fr;
    gap: 20px;
}

.coin-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2b2b2b;
    border: 1px solid #444;
    border-radius: 12px;
}



#steal {
    --progress: 0%;

    width: 240px;
    height: 240px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(
        to bottom,
        #3b3b3b var(--progress),
        #f5c242 var(--progress)
    );
    color: #222;
    font-size: 34px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.15s;

}

#steal:hover {
    transform: scale(1.05);
}

#steal:active {
    transform: scale(.96);
}

#prestigeButton {
    position: absolute;
    top: 20px;
    padding: 1px 2px;
    width: 200px;
    height: 50px;
    font-size: 26px;
    border: 2px solid rgb(7, 94, 1);
    border-radius: 8px;
    background: #74150a;
    color: black;
    font-weight: bold;
    cursor: pointer;
    text-align:center;
}

#prestigeButton:hover {
    transform: scale(1.02);
}

#prestigeModalContent {
    top: 7%;
    height: 200px;
    width: 300px;
    padding-top: 10px;
}

#prestigeModalContent p {
    text-align: center;
}

#prestigeConfirm {
    display: block;
    margin: 14px auto 0;
    padding: 1px 2px;
    width: 200px;
    height: 50px;
    font-size: 26px;
    border: 2px solid rgb(7, 94, 1);
    border-radius: 8px;
    background: #74150a;
    color: black;
    font-weight: bold;
    cursor: pointer;
    text-align:center;
}

#prestigeConfirm:hover {
    transform: scale(1.02);
}

#prestigeModalClose {
    position: absolute;
    top: 4px;
    right: 5px;

    width: 36px;
    height: 36px;

    border: none;
    border-radius: 8px;

    background: #3b3b3b;
    color: white;

    font-size: 22px;
    font-weight: bold;

    cursor: pointer;
    transition: .15s;
}

#prestigeModalClose:hover {
    background: #4b4b4b;
}

#prestigeModalClose:active {
    transform: scale(.95);
}

.shop {
    background: #2b2b2b;
    border: 1px solid #444;
    border-radius: 12px;
    padding: 20px;

    display: flex;
    flex-direction: column;

    height: 520px;
}
.shop h2 {
    font-size: 32px;
    margin: 0 0 15px 0;
    flex-shrink: 0;
}
.shop-list {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: contain;

    display: flex;
    flex-direction: column;
    gap: 15px;

    min-height: 0;
}

.shop-button {
    width: 100%;
    padding: 16px;
    border: 1px solid #538e55;
    border-radius: 10px;
    background: #3b3b3b;
    color: white;
    text-align: left;
    cursor: pointer;
    transition: .15s;
    --progress: 0%;

    background: linear-gradient(
        to right,
        #225e24 var(--progress),
        #3b3b3b var(--progress)
    );

    transition: 0.1s;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.shop-button:hover:not(:disabled) {
    border-color: #538e55;
    transform: scale(1.02);
}

.shop-button:disabled {
    border-color: #888;
    cursor: not-allowed;
    filter: brightness(.6);
}

.item-name {
    font-size: 20px;
    font-weight: bold;
}

.item-info {
    font-size: 15px;
    color: #cfcfcf;
}

.item-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.upDesc {
    font-size: 17px;
    font-weight: 300;
}

.stats {
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #2b2b2b;
    border: 1px solid #444;
    border-radius: 12px;
    padding: 18px;
}

.stats h2 {
    display: none;
}

.stats p {
    font-size: 18px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
    background: #2b2b2b;
    border: 1px solid #444;
    border-radius: 12px;
    padding: 18px;
}

.footer button {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    background: #555;
    color: white;
    cursor: pointer;
}

.footer button:hover {
    background: #666;
}

#achievementPopup {
    position: fixed;
    top: 20px;
    right: 20px;
    background:#2b2b2b;
    border-radius: 12px;
    padding: 16px 20px;
    opacity: 0;
    transform: translateX(30px);
    transition: opacity .3s, transform .3s;
    pointer-events: none;
}

#floatingTextContainer {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9999;
}

.floating-text {
    position: fixed;
    left: 52%;
    top: 35%;
    color: #2a5119;
    font-size: 44px;
    font-weight: bold;
    z-index: 10000;
    animation-name: floatUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes floatUp {
    0% {
        opacity: 1;
        top: 35%;
    }

    100% {
        opacity: 0;
        top: 25%;
    }
}

#offlineBackdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

#offlineEarningsPopup {
    position: fixed;
    left: 50%;
    top: 38%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 24px;
    background: #2b2b2b;
    border: 2px solid #f5c242;
    border-radius: 12px;
    text-align: center;
    z-index: 10000;
}

#offlineEarningsPopup h3 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

#offlineEarningsPopup p {
    font-size: 20px;
    margin-bottom: 6px;
}

#offlineEarningsPopup button {
    display: block;
    margin: 14px auto 0;

    width: 100px;
    height: 30px;

    border: none;
    border-radius: 8px;
    background: #555;
    color: white;
    cursor: pointer;
}

#offlineEarningsPopup button:hover {
    background: #666;
}

.particle {
    position: fixed;
    left: 52%;
    top: 33%;

    width: 10px;
    height: 10px;

    background: #f5c242;
    border-radius: 50%;

    pointer-events: none;
    z-index: 10000;

    animation-name: particleFloat;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes particleFloat {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        transform: translate(var(--moveX), calc(var(--moveY) * -1));
    }
}

.hidden {
    display: none;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.modal-content {
    width: 600px;
    height: 80vh;
    margin: 80px auto;
    padding: 20px;
    background: #2b2b2b;
    border-radius: 12px;

    position: relative;
    display: flex;
    flex-direction: column;
}

.modal-content h2 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.achievement-stats {
    font-size: 20px;
    margin-bottom: 16px;
    text-align: left;
}

#closeAchievements {
    position: absolute;
    top: 4px;
    right: 5px;

    width: 36px;
    height: 36px;

    border: none;
    border-radius: 8px;

    background: #3b3b3b;
    color: white;

    font-size: 22px;
    font-weight: bold;

    cursor: pointer;
    transition: .15s;
}

#closeAchievements:hover {
    background: #4b4b4b;
}

#closeAchievements:active {
    transform: scale(.95);
}

#achievementsList {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

.achievement-card {
    background: #2b2b2b;
    border: 1px solid #444;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 12px;
}

.achievement-card h3 {
    font-size: 22px;
    margin-bottom: 8px;
    color: #f5c242;
}

.achievement-card p {
    font-size: 16px;
    margin-bottom: 6px;
    color: #cfcfcf;
}

.achievement-card-unlocked {
    background: #2f4a2f;
    border: 1px solid #4caf50;
}

.achievement-card-unlocked h3 {
    color: #7dff7d;
}

.achievement-card-unlocked p {
    color: #e5ffe5;
}

.achievement-card-locked {
    background: #2b2b2b;
    border: 1px solid #444;
    opacity: .6;
}

.achievement-card-locked h3 {
    color: #aaaaaa;
}

.achievement-card-locked p {
    color: #888888;
}

label {
    display: flex;
    align-items: center;
    gap: 6px;
}